---
import { Icon } from 'astro-icon/components';
import { buttonVariants } from '@/components/ui/Button';
import { getPostDetails, getPosts } from '@/utils/blog';
import { cn } from '@/utils/mergeClasses';

import Layout from '@/layouts/Layout.astro';
import { CategoriesList } from '@/components/CategoriesList';
import { PublishDate } from '@/components/PublishDate';

export const getStaticPaths = async () => {
  const posts = await getPosts();

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

const { post } = Astro.props;
const { Content } = await post.render();

const { publishDate, title } = post.data;
const { author, categories } = post.referenceData;
---

<Layout>
  <div class="container py-4">
    <button onclick="history.go(-1)" class={buttonVariants({ variant: 'outline' })}>
      <Icon name="chevron" aria-hidden="true" class="rotate-90" />
      Go back
    </button>
  </div>

  <article class="pb-4">
    <div class="container max-w-3xl">
      <header class="space-y-4">
        <PublishDate date={publishDate} />

        <h1 class="mb-6 text-3xl font-bold">{title}</h1>

        <CategoriesList categories={categories} aria-label="Categories" />

        <p class="text-muted-foreground">
          Published by

          <a
            href={`/author/${author.id}`}
            class={cn(
              buttonVariants({
                variant: 'link',
                class: 'text-foreground italic underline hover:no-underline p-0 h-auto',
              })
            )}
          >
            {author.data.name}
          </a>
        </p>
      </header>

      <div
        class="prose mt-20 max-w-none text-muted-foreground prose-headings:text-foreground prose-a:text-primary hover:prose-a:no-underline"
      >
        <Content />
      </div>
    </div>
  </article>
</Layout>
