---
import { getEntries, getEntry, type CollectionEntry } from 'astro:content';
import { buttonVariants } from '@/components/ui/Button';
import { Icon } from 'astro-icon/components';
import { getPostDetails } from '@/utils/blog';

import CategoriesList from '@/components/CategoriesList.astro';
import Avatar from '@/components/ui/Avatar.astro';
import PublishDate from './PublishDate.astro';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

const { author, categories } = await getPostDetails(post);
---

<article class="border-b py-6">
  <div class="mb-3 flex flex-wrap items-center justify-between gap-2">
    <CategoriesList categories={categories} aria-label="Categories" />
    <PublishDate date={post.data.publishDate} />
  </div>

  <a href={`/blog/${post.slug}`} class="mb-2 inline-block text-2xl font-bold hover:underline">
    <h3>{post.data.title}</h3>
  </a>

  <p class="mb-5 text-muted-foreground">
    {post.data.description}
  </p>

  <div class="flex flex-wrap items-center justify-between gap-2">
    <a href={`/author/${author.id}`} class="flex items-center gap-2 hover:underline">
      <Avatar src={author.data.profileImage} alt="" />

      {author.data.name}
    </a>

    <a href={`/blog/${post.slug}`} class={buttonVariants({ variant: 'link', size: 'sm' })}>
      Read more
      <Icon name="chevron" class="-rotate-90" aria-hidden="true" />
    </a>
  </div>
</article>
