---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import { pluralize } from '@/utils/pluralize';
import { getPosts } from '@/utils/blog';

import BlogLayout from '@/layouts/BlogLayout.astro';
import Post from '@/components/Post.astro';

export const getStaticPaths = (async ({ paginate }) => {
  const categories = await getCollection('categories');
  const posts = await getPosts();

  return categories.flatMap((category) => {
    const filteredPosts = posts.filter((post) => post.data.categories.some((postCat) => postCat.id === category.id));

    return paginate(filteredPosts, {
      params: { categoryId: category.id },
      props: { category },
      pageSize: 1,
    });
  });
}) satisfies GetStaticPaths;

const { page, category } = Astro.props;

const { name, description } = category.data;
---

<BlogLayout>
  <section class="rounded border border-border p-4 dark:bg-muted">
    <h2 class="mb-2 text-xl font-bold">{name}</h2>
    <p>{description}</p>
  </section>

  <p class="border-b py-3 text-sm font-medium">{pluralize(page.total, 'post')} in total from #{category.data.name}</p>

  {page.data.map((p) => <Post post={p} />)}

  <div class="flex">
    {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
    {page.url.next ? <a href={page.url.next}>Next</a> : null}
  </div>
</BlogLayout>
