---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import { pluralize } from '@/utils/pluralize';
import { getPosts } from '@/utils/blog';

import BlogLayout from '@/layouts/BlogLayout.astro';
import AuthorDetails from '@/components/AuthorDetails.astro';
import { Post } from '@/components/Post';

export const getStaticPaths = (async ({ paginate }) => {
  const authors = await getCollection('authors');
  const posts = await getPosts();

  return authors.flatMap((author) => {
    const filteredPosts = posts.filter((post) => post.data.author.id === author.id);

    return paginate(filteredPosts, {
      params: { authorId: author.id },
      props: { author },
      pageSize: 10,
    });
  });
}) satisfies GetStaticPaths;

const { page, author } = Astro.props;
---

<BlogLayout>
  <p class="border-b border-t py-3 text-sm font-medium">
    {pluralize(page.total, 'blog post')} in total by {author.data.name}
  </p>

  {page.data.map((post) => <Post post={post} />)}

  <!-- TODO: PAGINATION -->
  <div class="flex">
    {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
    {page.url.next ? <a href={page.url.next}>Next</a> : null}
  </div>

  <AuthorDetails slot="right-sidebar" author={author} />
</BlogLayout>
